@font-face
{
    font-family: 'apple_garamondregular';
    src: url('fonts/applegaramond-webfont.woff2') format('woff2'),
         url('fonts/applegaramond-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    width: calc(100vw - 17px); /* fixes the problem of the scrollbar moving the content of the website */
}

body
{
    font-size: 13px;
    line-height: 20px;
    font-family: "arial";
    text-align: justify;
    width: 600px;
    margin: auto;
    padding-left: 17px;
    padding-top: 10px;
}

h1, h2, h3
{
    font-size: 30px;
    font-family: 'apple_garamondregular';
    font-weight: normal;
}

h1
{
    font-size: 50px;
}

h3
{
    font-size: 20px;
}

hr
{
    margin-top: 20px;
    border: 1px solid #D9D9D9;
}

.note_centered {
    font-style: italic;
    font-size: 10px;
}

.form_description {
    height: 150px;
}

.form_title, .form_description {
    width: 94.5%;
}

.form_addcategory {
    width: 150px;
}

.form_title, .form_description, .form_addcategory {
    padding: 5px;
    border: 1px solid Silver;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 13px;
}

.form_label {
    margin: 5px;
    margin-left: 0;
    text-align: left;
    font-weight: bold;
    font-size: 13px;
}

.form_selectfield {
    height: 28px;
    width: 150px;
    border: 1px solid Silver;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.errors, .flash_messages {
    padding: 5px;
    border-radius: 5px;
}

.errors {
    margin: 5px 10px;
    width: 94.5%;
    background-color: PapayaWhip;
    color: DarkSalmon;
    border: 1px solid DarkSalmon;
}

.flash_messages {
    width: 98%;
    background-color: FloralWhite;
    color: YellowGreen;
    border: 1px solid YellowGreen;
}

.errors > li, .flash_messages > li {
    margin-left: 20px;
    list-style-type: circle;
}




.button_send, .button_delete, .button_search {
    color: white;
    border: 1px solid DodgerBlue;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    background-color: DodgerBlue;
    font-size: 13px;
    font-family: arial;
    cursor: pointer;
}

.button_delete {
    background-color: red;
    border: 1px solid red;
}

.button_send:hover {
    color: DodgerBlue;
    background-color: white;
}

.button_delete:hover {
    color: red;
    background-color: white;
}

.button_search, .button_search:visited {
    color: DodgerBlue;
    vertical-align: middle;
    background-color: white;
}

.form_selectfield_margin, .button_search {
    margin-left: 5px;
    margin-right: 5px;
}

.button_search:hover {
    color: white;
    background-color: DodgerBlue;
}







.table_buttons {
    width: 100%;
    padding: 15px 20px;
}

.table_buttons > td {
    width: 50%;
}

.table_buttons td:nth-child(2) {
    text-align: right;
}

.cancel_button_red, .cancel_button_blue {
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    vertical-align: middle;
}

.cancel_button_blue {
    color: DodgerBlue;
    border: 1px solid DodgerBlue;
}

.cancel_button_red:hover {
    color: white;
    border: 1px solid red;
    background-color: red;
}

.cancel_button_blue:hover {
    color: white;
    border: 1px solid DodgerBlue;
    background-color: DodgerBlue;
}

.page_button {
    height: 18px;
    width: 18px;
    text-align: center;
    border: 1px orange solid;
    background-color: orange;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
    line-height:19.5px;
}

.page_button_left {
    margin-right: 5px;
}

.page_button_right {
    margin-left: 5px;
}

.page_button:hover {
    background-color: white;
    color: orange;
}