.table_navigation {
    margin-bottom: -10px;
}

.table_status_category {
    margin: 10px 0 10px -3px;
}

.table_status_category tr:nth-child(1) {
    line-height: 8px;
}

.td_note {
    padding-left: 10px;
}

.table_selectfield {
    margin: auto;
    padding-bottom: 15px;
}

.tickets_table {
    border: solid 2px Gainsboro;
    border-radius: 10px;
    margin: 10px auto;
    width: 100%;
    padding: 8px;
}

.tickets_firstrow {
    height: 10px;
}

.tickets_lastrow {
    height: 12px;
    line-height: 8px;
}

.tickets_title {
    line-height: 15px;
    padding-bottom: 5px;
}

.tickets_options {
    line-height: 20px;
    vertical-align: top;
}

.tickets_description {
    font-size: 13px;
    padding: 10px;
    /* word-break: break-all; */
    width: 80%;
    border-top: Gainsboro 1px solid;
    border-bottom: Gainsboro 1px solid;
}

.tickets_description > * { /* Fixes the markdown */
    margin: 3px auto;
}

.tickets_description > ul {
    margin-left: -10px;
}

.tickets_created {
    padding-top: 7px;
}

.tickets_editdelete {
    font-size: 12px;
    text-align: right;
    vertical-align: middle;
}

.form_table {
    margin-bottom: 10px;
}

.form_label {
    margin: 5px;
    margin-left: 0;
    font-size: 13px;
    line-height: 20px;
}

.form_title, .form_description, .form_addcategory {
    padding: 5px;
    border: 1px solid Gainsboro;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 13px;
}

.form_title, .form_description {
    width: 94.5%;
}

.form_description {
    height: 150px;
}

.form_addcategory {
    width: 150px;
}

.form_selectfield {
    height: 28px;
    width: 150px;
    border: 1px solid Gainsboro;
    vertical-align: middle;
}