<h3>{{ post.title }}</h3>

<span>
    Posted on {{ post.timestamp.strftime("%A, %d. %B %Y at %I:%M%p") }}

    {% if post.edit_time %}
        <br>Edited on {{ post.edit_time.strftime("%A, %d. %B %Y at %I:%M%p") }}
    {% endif %}
</span>

<p>

    {% if post.nb_char > 1000 %}
        {{ post.body | markdown | truncate(1000, true) }}
        <a href="{{ url_for('post', id=post.id) }}" class="link_readmore">[ read more ]</a><br>
    {% else %}
        {{ post.body | markdown }}
    {% endif %}

</p>

<a href="{{ url_for('post_edit', id=post.id)}}" class="link_edit">
    Edit
</a> -
<a href="{{ url_for('post_delete', id=post.id) }}" class="link_delete">
    Delete
</a>

<hr>