<table class="tickets_table">

    <tr class="tickets_firstrow">

        <td colspan="2" class="tickets_title">
            <strong>{{ result.title }}</strong>
        </td>

        <td rowspan="2" class="tickets_options rightered">

            {% if result.status == "To do" %}
                <span class="category_status status_todo">{{ result.status }}</span><br>
            {% elif result.status == "On hold" %}
                <span class="category_status status_onhold">{{ result.status }}</span><br>
            {% elif result.status == "Done" %}
                <span class="category_status status_done">{{ result.status }}</span><br>
            {% elif result.status == "In progress" %}
                <span class="category_status status_inprogress">{{ result.status }}</span><br>
            {% endif %}
            {% if result.category == "Uncategorized" %}
                <span class="category_status cat_uncategorized">{{ result.category }}</span>
            {% else %}
                <span class="category_status cat_categorized">{{ result.category }}</span>
            {% endif %}

        </td>

    </tr>

    <tr>
        <td colspan="2" class="tickets_description">{{ result.description | markdown }}</td>
    </tr>

    {% if result.modified %}

        <tr class="tickets_lastrow">
            <td width="7%" class="date tickets_created">Created:</td>
            <td class="date tickets_created">{{ result.created.strftime("%A, %d. %B %Y %I:%M%p") }}</td>
            <td></td>
        </tr>

        <tr class="tickets_lastrow">
            <td class="date">Modified:</td>
            <td class="date">{{ result.modified.strftime("%A, %d. %B %Y %I:%M%p") }}</td>
            <td class="tickets_editdelete">
                <a href="{{ url_for('task_add_edit', id=result.id)}}" class="link_edit">
                    Edit
                </a> -
                <a href="{{ url_for('task_delete', id=result.id)}}" class="link_delete">
                    Delete
                </a>
            </td>
        </tr>

    {% else %}

        <tr class="tickets_lastrow">
            <td width="7%" class="date tickets_created">Created:</td>
            <td class="date tickets_created">{{ result.created.strftime("%A, %d. %B %Y %I:%M%p") }}</td>
            <td class="tickets_editdelete">
                {% if not delete %}
                    <a href="{{ url_for('task_add_edit', id=result.id)}}" class="link_edit">
                        Edit
                    </a> -
                    <a href="{{ url_for('task_delete', id=result.id)}}" class="link_delete">
                        Delete
                    </a>
                {% endif %}
            </td>
        </tr>

    {% endif %}

</table>