<table class="task_table">

    <tr class="tr_firstrow">

        <td colspan="2" class="td_title">
            <strong>{{ result.title }}</strong>
        </td>

        <td rowspan="2" class="td_options">

            {% if result.status == "To do" %}
                <span class="category_status status_todo">{{ result.status }}</span><br>
            {% elif result.status == "On hold" %}
                <span class="category_status status_onhold">{{ result.status }}</span><br>
            {% elif result.status == "Done" %}
                <span class="category_status status_done">{{ result.status }}</span><br>
            {% elif result.status == "In progress" %}
                <span class="category_status status_inprogress">{{ result.status }}</span><br>
            {% endif %}
            {% if result.category == "Uncategorized" %}
                <span class="category_status cat_uncategorized">{{ result.category }}</span>
            {% else %}
                <span class="category_status cat_categorized">{{ result.category }}</span>
            {% endif %}

        </td>

    </tr>

    <tr>
        <td colspan="2" class="td_description">{{ result.description | markdown }}</td>
    </tr>

    {% if result.modified %}

        <tr class="tr_lastrow">
            <td width="7%" class="td_date td_created">Created:</td>
            <td class="td_date td_created">{{ result.created.strftime("%A, %d. %B %Y %I:%M%p") }}</td>
            <td rowspan="2" class="td_editdelete">
                <a href="{{ url_for('task_edit', id=result.id)}}" class="link_edit">Edit</a> - <a href="{{ url_for('task_delete', id=result.id)}}" class="link_delete">Delete</a>
            </td>
        </tr>

        <tr class="tr_lastrow">
            <td class="td_date">Modified:</td>
            <td class="td_date">{{ result.modified.strftime("%A, %d. %B %Y %I:%M%p") }}</td>
        </tr>

    {% else %}

        <tr class="tr_lastrow">
            <td width="7%" class="td_date td_created">Created:</td>
            <td class="td_date td_created">{{ result.created.strftime("%A, %d. %B %Y %I:%M%p") }}</td>
            <td class="td_editdelete">
                {% if not delete %}
                    <a href="{{ url_for('task_edit', id=result.id)}}" class="link_edit">Edit</a> - <a href="{{ url_for('task_delete', id=result.id)}}" class="link_delete">Delete</a>
                {% endif %}
            </td>
        </tr>

    {% endif %}

</table>