<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">

        {{ pagedown.include_pagedown() }}

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/tasks.css') }}">

        {% if title %}
            <title>{{ title }} - Doll</title>
        {% else %}
            <title>Welcome to Doll</title>
        {% endif %}
    </head>

    <body>
        <h1>Doll</h1>

        {% set navigation_set = [
            (url_for('index'), "index", "Home"),
            (url_for('tasks'), "tasks", "Tasks"),
            (url_for('links'), "links", "Links")
        ] -%}
        {% set active_page = active_page -%}
        
        <table width="100%" style="margin-bottom: -10px;">
            <tr>
                <td style="font-size: 15px;">
                    {% for url, id, title in navigation_set %}
                        {% if id == active_page %}
                            <a href={{ url }} class="navigation_links navigation_links_active">{{ title }}</a>
                        {% else %}
                            <a href={{ url }} class="navigation_links">{{ title }}</a>
                        {% endif %}
                    {% endfor %}
                </td>
                <td style="text-align: right">
                    <a href="{{ url_for('post_add') }}" class="button_send">+ &nbsp;Add Post</a>
                </td>
            </tr>
        </table>
        <hr>
        {% block content %}{% endblock %}
    </body>

    <footer style="margin-bottom: 20px">
    </footer>

</html>