<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">

        {{ pagedown.include_pagedown() }}

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/links.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/categories.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">

        {% if title %}
            <title>{{ title }} - Doll</title>
        {% else %}
            <title>Welcome to Doll</title>
        {% endif %}

    </head>

    <body>

        <h1>Doll</h1>

        {% set navigation_set = [
            (url_for('index'), "index", "Home"),
            (url_for('tasks'), "tasks", "Tasks"),
            (url_for('links'), "links", "Links"),
            (url_for('links'), "wishlist", "Wishlist")
        ] -%}
        {% set active_page = active_page -%}

        <table width="100%" class="table_navigation">
            <tr>
                <td>
                    {% for url, id, title in navigation_set %}
                        {% if id == active_page %}
                            <a href={{ url }} class="navigation_links_active">{{ title }}</a>
                        {% else %}
                            <a href={{ url }} class="navigation_links">{{ title }}</a>
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="rightered">
                    <a href="{{ url_for('post_add') }}" class="button blue_filled">
                        + &nbsp;Add Post
                    </a>
                </td>
            </tr>
        </table>

        <hr>

        {% block content %}{% endblock %}

    </body>

    <footer></footer>

</html>