<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">

        {{ pagedown.include_pagedown() }}

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/tasks.css') }}">

        {% if title %}
            <title>{{ title }} - Doll</title>
        {% else %}
            <title>Welcome to Doll</title>
        {% endif %}
    </head>

    <body>
        <h1>Doll</h1>
        <table width="100%" style="margin-bottom: -10px;">
            <tr>
                <td style="font-size: 15px;">
                    <a href="{{ url_for('index') }}" style="margin-right: 5px; text-decoration: none; color: DarkGray;">Home</a>
                    <a href="{{ url_for('tasks') }}" style="margin-right: 5px; margin-left: 5px; text-decoration: none; color: DarkGray;">Tasks</a>
                    <a href="{{ url_for('links') }}" style="margin-left: 5px; text-decoration: none; color: DarkGray;">Links</a>
                </td>
                <td style="text-align: right">
                    <a href="{{ url_for('post_add') }}" class="button_send">+ &nbsp;Add Post</a>
                </td>
            </tr>
        </table>
        <hr>
        {% block content %}{% endblock %}
    </body>

    <footer style="margin-bottom: 20px">
    </footer>

</html>