{% extends "base.html" %}
{% set active_page = "links" %}

{% block content %}

    <table width="100%">
        <tr>
            <td>
                <h2>{{ title }}</h2>
            </td>
            <td class="rightered">
                <a href="{{ url_for('link_add') }}" class="button blue_filled">
                    +  Add Link
                </a>
            </td>
        </tr>
    </table>

    <form action="" method="post">

        {{ pick.hidden_tag() }}

        <table class="table_selectfield">
            <tr>
                <td>{{ pick.category(class="form_selectfield") }}</td>
                <td>{{ pick.submit(class="button blue_transparent marg_left") }}</td>
            </tr>
        </table>

    </form>

    {% include '_messages.html' %}

    {% for result in results %}
        {% include '_links.html' %}
    {% endfor %}

{% endblock %}