{% extends "base.html" %}

{% block content %}

    <h2>{{ title }}</h2>

    <p><a href="{{ url_for('link_add') }}" style="border: solid 1px black; padding: 5px; border-radius: 5px">+ Add link</a></p>

    <form action="" method="post">
        {{ pick.hidden_tag() }}
        {{ pick.category() }} {{ pick.submit() }}
    </form>

    <section>
        {% include '_messages.html' %}
    </section>

    {% for result in results %}
        {% include '_links.html' %}
    {% endfor %}

{% endblock %}