{% extends "base.html" %}

{% block content %}

<h2>Delete link</h2>

<form action="" method="post">

    {{ form.hidden_tag() }}

    <h3>Are you sure you want to delete the following link:</h3>
    <p>{{ link.title }}</p>
    Posted on {{ link.timestamp.strftime("%A, %d. %B %Y at %I:%M%p") }}

    <table class="table_buttons">
        <tr>
            <td><a href="{{ url_for('links') }}" class="cancel_button_blue">Cancel</a></td>
            <td>{{ form.submit(class="button_delete") }}</td>
        </tr>
    </table>

</form>

{% endblock %}