{% extends "base.html" %}
{% set active_page = "index" %}

{% block content %}

<h2>Edit post</h2>

<form action="" method="post">

    {{ form.hidden_tag() }}

    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}<br>
    </p>
    <p>
        {{ form.body.label }}<br>
        {{ form.body(cols=50, rows=4) }}<br>
    </p>

    <table class="table_buttons">
        <tr>
            <td>
                <a href="{{ url_for('index') }}" class="button red_transparent">
                    Cancel
                </a>
            </td>
            <td class="rightered">
                {{ form.submit(class="button blue_filled") }}
            </td>
        </tr>
    </table>

</form>

{% endblock %}