{% extends "base.html" %}
{% set active_page = "index" %}

{% block content %}

<h2>Delete post</h2>

<form action="" method="post">

    {{ form.hidden_tag() }}

    Are you sure you want to delete the following post:
    <p>{{ post.title }}</p>
    Posted on {{ post.timestamp.strftime("%A, %d. %B %Y at %I:%M%p") }}

    <table class="table_buttons">
        <tr>
            <td>
                <a href="{{ url_for('index') }}" class="button blue_transparent">
                    Cancel
                </a>
            </td>
            <td class="rightered">
                {{ form.submit(class="button red_filled") }}
            </td>
        </tr>
    </table>

</form>

{% endblock %}