{% extends "base.html" %}

{% block content %}

<h1>Add new post</h1>

<form action="" method="post">

    {{ form.hidden_tag() }}

    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}<br>
    </p>
    <p>
        {{ form.body.label }}<br>
        {{ form.body(cols=50, rows=4) }}<br>
    </p>

    <table class="table_buttons">
        <tr>
            <td><a href="{{ url_for('index') }}" class="cancel_button_red">Cancel</a></td>
            <td>{{ form.submit(class="button_send") }}</td>
        </tr>
    </table>

</form>

{% endblock %}