{% extends "base.html" %}
{% set active_page = "tasks" %}

{% block content %}

    <table width="100%">
        <tr>
            <td>
                <h2>
                    {{ title }}
                </h2>
            </td>
            <td class="rightered">
                <a href="{{ url_for('markdown_guide') }}" target="_blank" class="button orange_transparent">
                    .md help >
                </a>
            </td>
        </tr>
    </table>

    {% include '_messages.html' %}

    <form action="" method="post">

        {{ form.hidden_tag() }}

        <table width="100%" class="form_table">
            <tr>
                <td class="form_label leftered">
                    <strong>{{ form.title.label }}</strong>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.title(class="form_title") }}
                </td>
            </tr>
            <tr>
                <td>

                    <table width="100%" class="table_status_category">
                        <tr>
                            <td class="form_label"><strong>{{ form.status.label }}</strong></td>
                            <td class="form_label"><strong>{{ form.category.label }}</strong></td>
                        </tr>
                        <tr class="indent">
                            <td>{{ form.status(class="form_selectfield") }}</td>
                            <td>
                                {% if not edit %}
                                    {% set z = form.category.process_data("Uncategorized") %}
                                {% endif %}
                                {{ form.category(class="form_selectfield") }}
                                or {{ form.add_category(class="form_addcategory") }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="td_note">
                                <span class="note">
                                    (If a label from the drop down menu is chosen and the string field is filled,
                                    the label from the drop down menu will be ignored.)
                                </span>
                            </td>
                        </tr>
                    </table>

                    {% if form.add_category.errors%}
                        <ul class="error_messages">
                            {% for error in form.add_category.errors %}
                                <li><strong>Category:</strong> {{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </td>
            </tr>

            <tr>
                <td class="form_label">
                    <strong>{{ form.description.label }}</strong>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.description(class="form_description") }}
                </td>
            </tr>

        </table>

        <table class="table_buttons">
            <tr>
                <td>
                    <a href="{{ url_for('tasks') }}" class="button red_transparent">
                        Cancel
                    </a>
                </td>
                <td class="rightered">
                    {{ form.submit(class="button blue_filled") }}
                </td>
            </tr>
        </table>

    </form>

{% endblock %}