{% extends "base.html" %}
{% set active_page = "tasks" %}

{% block content %}

    <table width="100%">
        <tr>
            <td><h2>{{ title }}</h2></td>
            <td style="text-align: right">
                <a href="{{ url_for('task_add') }}" class="button_send">+ &nbsp;Add Task</a>
            </td>
        </tr>
    </table>

    <form action="" method="post">
        {{ pick.hidden_tag() }}

        <table style="margin: auto; padding-bottom: 15px">
            <tr>
                <td>{{ pick.status(class="form_selectfield form_selectfield_margin") }}</td>
                <td>{{ pick.category(class="form_selectfield form_selectfield_margin") }}</td>
                <td>{{ pick.order(class="form_selectfield form_selectfield_margin") }}</td>
                <td>{{ pick.submit(class="button_search") }}</td>
            </tr>
        </table>

    </form>


    <table width="100%">

        <tr>
            <td>
                <strong>{{ count }}</strong> tasks found
            </td>
            <td style="text-align: right;">
                {% include "_pages.html" %}
            </td>
        </tr>

    </table>


    <section>
        {% include '_messages.html' %}
    </section>

    {% for result in results %}
        {% include '_tasks.html' %}
    {% endfor %}

    <table width="100%">
        <tr>
            <td style="text-align: center">{% include "_pages.html" %}</td>
        </tr>
    </table>

{% endblock %}