{% extends "base.html" %}

{% block content %}

    <table width="100%">
        <tr>
            <td><h2>{{ title }}</h2></td>
            <td style="text-align: right">
                <a href="{{ url_for('task_add') }}" class="button_send"><strong>+</strong> Add Task</a>
            </td>
        </tr>
    </table>

    <form action="" method="post">
        {{ pick.hidden_tag() }}
        {{ pick.category() }} {{ pick.submit() }}
    </form>

    <section>
        {% include '_messages.html' %}
    </section>

    {% for result in results %}
        {% include '_tasks.html' %}
    {% endfor %}

{% endblock %}