{% extends "base.html" %}
{% set active_page = "tasks" %}

{% block content %}

    <table width="100%">
        <tr>
            <td>
                <h2>{{ title }}</h2>
            </td>
            <td class="rightered">
                <a href="{{ url_for('task_add') }}" class="button blue_filled">
                    + &nbsp;Add Task
                </a>
            </td>
        </tr>
    </table>

    <form action="" method="post">
        {{ pick.hidden_tag() }}

        <table style="margin: auto; padding-bottom: 15px"> <!-- TO BE FIXED -->
            <tr>
                <td>{{ pick.status(class="form_selectfield form_selectfield_margin") }}</td>
                <td>{{ pick.category(class="form_selectfield form_selectfield_margin") }}</td>
                <td>{{ pick.order(class="form_selectfield form_selectfield_margin") }}</td>
                <td>{{ pick.submit(class="button_search") }}</td>
            </tr>
        </table>

    </form>


    <table width="100%">

        <tr>
            <td>
                <strong>{{ count }}</strong> tasks found
            </td>
            <td class="rightered">
                {% include "_pages.html" %}
            </td>
        </tr>

    </table>


    {% include '_messages.html' %}

    {% for result in results %}
        {% include '_tasks.html' %}
    {% endfor %}

    <table width="100%">
        <tr>
            <td class="centered">
                {% include "_pages.html" %}
            </td>
        </tr>
    </table>

{% endblock %}