{% extends "base.html" %}

{% block content %}

<h2 style="line-height: 37px">Add task</h2>

{% include '_messages.html' %}

<form action="" method="post">

    {{ form.hidden_tag() }}
    <p>
        <p class="form_label">
            {{ form.title.label }}
        </p>
        {{ form.title(class="form_title") }}

        {% if form.title.errors%}
            <ul class="errors">
                {% for error in form.title.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <table width="100%" style="margin: 10px 0 10px -3px">
            <tr style="line-height: 8px">
                <td><p class="form_label">{{ form.status.label }}</p></td>
                <td><p class="form_label">{{ form.category.label }}</p></td>
            </tr>
            <tr>
                <td>{{ form.status(class="form_selectfield") }}</td>
                <td>
                    {% set z = form.category.process_data("Uncategorized") %}
                    {{ form.category(class="form_selectfield") }}
                    or {{ form.add_category(class="form_addcategory") }}</td>
            </tr>
            <tr>
                <td colspan="2" style="padding-left: 10px">
                    <span class="note_centered">(If a label from the drop down menu is chosen and the string field is filled,
                        the label from the drop down menu will be ignored.)</span>
                </td>
            </tr>
        </table>


        <p class="form_label">
            {{ form.description.label }}
        </p>
        {{ form.description(class="form_description") }}

    </p>
    <table class="table_buttons">
        <tr>
            <td><a href="{{ url_for('tasks') }}" class="cancel_button_red">Cancel</a></td>
            <td>{{ form.submit(class="button_send") }}</td>
        </tr>
    </table>

</form>

{% endblock %}