{% extends "base.html" %}

{% block content %}

<h2>Delete task</h2>

<form action="" method="post">

    {{ form.hidden_tag() }}

    <p>Are you sure you want to delete the following task?</p>

    {% include "_tasks.html" %}

    <p>This action is permanent and can't be undone.</p>

    <table class="table_buttons">
        <tr>
            <td><a href="{{ url_for('tasks') }}" class="cancel_button_blue">Cancel</a></td>
            <td>{{ form.submit(class="button_delete") }}</td>
        </tr>
    </table>

</form>

{% endblock %}