{% extends "base.html" %}
{% set active_page = "links" %}

{% block content %}

<h2>Delete link</h2>

<form action="" method="post">

    {{ form.hidden_tag() }}

    <p>Are you sure you want to delete the following link?</p>

    {% include "_wishes.html" %}

    <p>This action is permanent and can't be undone.</p>

    <table class="table_buttons">
        <tr>
            <td>
                <a href="{{ url_for('wishes') }}" class="button blue_transparent">
                    Cancel
                </a>
            </td>
            <td class="rightered">
                {{ form.submit(class="button red_filled") }}
            </td>
        </tr>
    </table>

</form>

{% endblock %}